%h1 Followers

%table
  %thead
    %tr
      %th Name
      %th Email
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        - if !current_user.following?(user)
          %td= link_to 'Follow', user_relationships_url(user_id: current_user.id, relationship: {follower_id: current_user.id, following_id: user.id}), method: :post

%br

#json
= render 'shared/json_formatter'