%h1 Followings

%table
  %thead
    %tr
      %th Name
      %th Email
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        %td= link_to 'Unfollow', user_relationship_url(user_id: current_user.id, id: Relationship.find_by(follower_id: current_user.id, following_id: user.id)), method: :delete, data: {confirm: 'Are you sure?' }


%br

#json
= render 'shared/json_formatter'